<div *ngIf='!plats'>
  <app-loader></app-loader>
</div>
<div>
  <button (click)="goToAdd()" class="btn btn-success">Add Plat</button>
</div>
<form>
  <div class="text-center">
    <label for="">Filter By Name or Description</label>
    <input type="text" [(ngModel)]='term' [ngModelOptions]="{standalone:true}">
  </div>
</form>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Description</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let plat of pageOfItems | myFilter:term">
      <td>{{plat._id}}</td>
      <td>{{plat.name}}</td>
      <td>{{plat.price}}</td>
      <td>{{plat.description}}</td>
      <td>
        <button class="btn btn-success" (click)="displayPlat(plat._id)">Display</button>
        <button class="btn btn-info" (click)="editPlat(plat._id)">Edit</button>
        <button class="btn btn-danger" (click)="deletePlat(plat._id)">Delete</button>
      </td>
    </tr>
  </tbody>
  <div class="card-footer pb-0 pt-3">
    <jw-pagination [items]="plats" (changePage)="onChangePage($event)"></jw-pagination>
  </div>
</table>