<!--::exclusive_item_part start::-->
<section class="exclusive_item_part blog_item_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="section_tittle">
                    <p>Popular Dishes</p>
                    <h2>Our Exclusive Items</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4" *ngFor="let c of plats">
                <app-plat [inputPlat] = "c"></app-plat>
            </div>
        </div>
    </div>
</section>
<!--::exclusive_item_part end::-->